:root {
    --black-primary: #000000;
    --white-primary: #ffffff;
    --pink-primary: #FF6699;
    --yellow-primary: #fcb900
    --red-primary: #cf2e2e;
    

    --pink-secund: #FFB3CC;
    --pink-tertiary: #800a43;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

